APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=false

ADMIN_LOGIN_ID=admin
ADMIN_PASSWORD=password

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret
